<a href="https://colab.research.google.com/github/ChiragBangera/MLspark/blob/main/Section1%2C2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Section 1

In [ ]:
# prompt: install pyspark
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=ddcf8fcf57d7e1b127e1661cad20c54a7ce7a5a5be40fafcbe3b9c744f0c0a02
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [ ]:
# spark session creation
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Pyspark').getOrCreate()
spark

## Imports

In [ ]:
# imports
from pyspark.sql import functions as f
from pyspark.sql.types import *

## start

In [ ]:
data = [['Chirag',100],['Bangera',120],['Ronaldo', 99]]

df = spark.createDataFrame(data, ['Name', 'Score'])
df.show()

+-------+-----+
|   Name|Score|
+-------+-----+
| Chirag|  100|
|Bangera|  120|
|Ronaldo|   99|
+-------+-----+

In [ ]:
df.toPandas()

      Name  Score
0   Chirag    100
1  Bangera    120
2  Ronaldo     99

In [ ]:
# count rows
df.count()

3

In [ ]:
path = '/content/drive/MyDrive/spark/datasets/students.csv'
df = spark.read.csv(path, header = True)
df.show()

+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+
|gender|race/ethnicity|parental level of education|       lunch|test preparation course|math score|reading score|writing score|
+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+
|female|       group B|          bachelor's degree|    standard|                   none|        72|           72|           74|
|female|       group C|               some college|    standard|              completed|        69|           90|           88|
|female|       group B|            master's degree|    standard|                   none|        90|           95|           93|
|  male|       group A|         associate's degree|free/reduced|                   none|        47|           57|           44|
|  male|       group C|               some college|    standard|                   none|        76|           78|           75|
|female|       group B|         associate's degree|    standard|                   none|        71|           83|           78|
|female|       group B|               some college|    standard|              completed|        88|           95|           92|
|  male|       group B|               some college|free/reduced|                   none|        40|           43|           39|
|  male|       group D|                high school|free/reduced|              completed|        64|           64|           67|
|female|       group B|                high school|free/reduced|                   none|        38|           60|           50|
|  male|       group C|         associate's degree|    standard|                   none|        58|           54|           52|
|  male|       group D|         associate's degree|    standard|                   none|        40|           52|           43|
|female|       group B|                high school|    standard|                   none|        65|           81|           73|
|  male|       group A|               some college|    standard|              completed|        78|           72|           70|
|female|       group A|            master's degree|    standard|                   none|        50|           53|           58|
|female|       group C|           some high school|    standard|                   none|        69|           75|           78|
|  male|       group C|                high school|    standard|                   none|        88|           89|           86|
|female|       group B|           some high school|free/reduced|                   none|        18|           32|           28|
|  male|       group C|            master's degree|free/reduced|              completed|        46|           42|           46|
|female|       group C|         associate's degree|free/reduced|                   none|        54|           58|           61|
+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+
only showing top 20 rows

In [ ]:
# groupby function
df.groupBy(['gender']).agg(F.round(F.mean('math score'))).show()

+------+-------------------------+
|gender|round(avg(math score), 0)|
+------+-------------------------+
|female|                     64.0|
|  male|                     69.0|
+------+-------------------------+

In [ ]:
df.groupby(['gender']).agg(F.min('math score'),F.max('math score'),F.round(F.mean('math score'),0)).show()

+------+---------------+---------------+-------------------------+
|gender|min(math score)|max(math score)|round(avg(math score), 0)|
+------+---------------+---------------+-------------------------+
|female|              0|             99|                     64.0|
|  male|            100|             99|                     69.0|
+------+---------------+---------------+-------------------------+

In [ ]:
df.rdd.id()

62

## Read, Write and Validate Code

In [ ]:
# checkign cores
cores = spark._jsc.sc().getExecutorMemoryStatus().keySet().size()
cores

1

In [ ]:
path1 = '/content/drive/MyDrive/spark/datasets/'
students = spark.read.csv(path1+'students.csv',inferSchema = True, header=True)
students.show()

+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+
|gender|race/ethnicity|parental level of education|       lunch|test preparation course|math score|reading score|writing score|
+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+
|female|       group B|          bachelor's degree|    standard|                   none|        72|           72|           74|
|female|       group C|               some college|    standard|              completed|        69|           90|           88|
|female|       group B|            master's degree|    standard|                   none|        90|           95|           93|
|  male|       group A|         associate's degree|free/reduced|                   none|        47|           57|           44|
|  male|       group C|               some college|    standard|                   none|        76|           78|           75|
|female|       group B|         associate's degree|    standard|                   none|        71|           83|           78|
|female|       group B|               some college|    standard|              completed|        88|           95|           92|
|  male|       group B|               some college|free/reduced|                   none|        40|           43|           39|
|  male|       group D|                high school|free/reduced|              completed|        64|           64|           67|
|female|       group B|                high school|free/reduced|                   none|        38|           60|           50|
|  male|       group C|         associate's degree|    standard|                   none|        58|           54|           52|
|  male|       group D|         associate's degree|    standard|                   none|        40|           52|           43|
|female|       group B|                high school|    standard|                   none|        65|           81|           73|
|  male|       group A|               some college|    standard|              completed|        78|           72|           70|
|female|       group A|            master's degree|    standard|                   none|        50|           53|           58|
|female|       group C|           some high school|    standard|                   none|        69|           75|           78|
|  male|       group C|                high school|    standard|                   none|        88|           89|           86|
|female|       group B|           some high school|free/reduced|                   none|        18|           32|           28|
|  male|       group C|            master's degree|free/reduced|              completed|        46|           42|           46|
|female|       group C|         associate's degree|free/reduced|                   none|        54|           58|           61|
+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+
only showing top 20 rows

In [ ]:
# parquet file
parquet = spark.read.parquet(path1+'users1.parquet')
parquet.limit(4).toPandas()

,registration_dttm,id,first_name,last_name,email,gender,ip_address,cc,country,birthdate,salary,title,comments
0,2016-02-03 07:55:29,1,Amanda,Jordan,ajordan0@com.com,Female,1.197.201.2,6759521864920116,Indonesia,3/8/1971,49756.53,Internal Auditor,1E+02
1,2016-02-03 17:04:03,2,Albert,Freeman,afreeman1@is.gd,Male,218.111.175.34,,Canada,1/16/1968,150280.17,Accountant IV,
2,2016-02-03 01:09:31,3,Evelyn,Morgan,emorgan2@altervista.org,Female,7.161.136.94,6767119071901597,Russia,2/1/1960,144972.51,Structural Engineer,
3,2016-02-03 00:36:21,4,Denise,Riley,driley3@gmpg.org,Female,140.35.109.83,3576031598965625,China,4/8/1997,90263.05,Senior Cost Accountant,

In [ ]:
# pertitioned datasets
partitioned = spark.read.parquet(path1+'users*')
partitioned.show(4)

+-------------------+---+----------+---------+--------------------+------+--------------+----------------+---------+---------+---------+--------------------+--------+
|  registration_dttm| id|first_name|last_name|               email|gender|    ip_address|              cc|  country|birthdate|   salary|               title|comments|
+-------------------+---+----------+---------+--------------------+------+--------------+----------------+---------+---------+---------+--------------------+--------+
|2016-02-03 07:55:29|  1|    Amanda|   Jordan|    ajordan0@com.com|Female|   1.197.201.2|6759521864920116|Indonesia| 3/8/1971| 49756.53|    Internal Auditor|   1E+02|
|2016-02-03 17:04:03|  2|    Albert|  Freeman|     afreeman1@is.gd|  Male|218.111.175.34|                |   Canada|1/16/1968|150280.17|       Accountant IV|        |
|2016-02-03 01:09:31|  3|    Evelyn|   Morgan|emorgan2@altervis...|Female|  7.161.136.94|6767119071901597|   Russia| 2/1/1960|144972.51| Structural Engineer|        |
|2016-02-03 00:36:21|  4|    Denise|    Riley|    driley3@gmpg.org|Female| 140.35.109.83|3576031598965625|    China| 4/8/1997| 90263.05|Senior Cost Accou...|        |
+-------------------+---+----------+---------+--------------------+------+--------------+----------------+---------+---------+---------+--------------------+--------+
only showing top 4 rows

In [ ]:
# read only 2 data sets
users1_2 = spark.read.parquet(path1+'users1.parquet',path1+'users1.parquet')
users1_2.limit(4).toPandas()

,registration_dttm,id,first_name,last_name,email,gender,ip_address,cc,country,birthdate,salary,title,comments
0,2016-02-03 07:55:29,1,Amanda,Jordan,ajordan0@com.com,Female,1.197.201.2,6759521864920116,Indonesia,3/8/1971,49756.53,Internal Auditor,1E+02
1,2016-02-03 17:04:03,2,Albert,Freeman,afreeman1@is.gd,Male,218.111.175.34,,Canada,1/16/1968,150280.17,Accountant IV,
2,2016-02-03 01:09:31,3,Evelyn,Morgan,emorgan2@altervista.org,Female,7.161.136.94,6767119071901597,Russia,2/1/1960,144972.51,Structural Engineer,
3,2016-02-03 00:36:21,4,Denise,Riley,driley3@gmpg.org,Female,140.35.109.83,3576031598965625,China,4/8/1997,90263.05,Senior Cost Accountant,

In [ ]:
# s3 bucket sample
bucket = "my_bucket"
key1  = "partition_test/Table1/CREATED_YEAR=2015/*"
key2  = "partition_test/Table1/CREATED_YEAR=2017/*"
key3  = "partition_test/Table1/CREATED_YEAR=2018/*"
test_df = spark.read.parquet("s3a://"+bucket+"/"+key1, "s3a://"+bucket+"/"+key2, "s3a://"+bucket+"/"+key3)
test_df.limit(4).toPandas()

## Validating Data

In [ ]:
students.printSchema()

root
 |-- gender: string (nullable = true)
 |-- race/ethnicity: string (nullable = true)
 |-- parental level of education: string (nullable = true)
 |-- lunch: string (nullable = true)
 |-- test preparation course: string (nullable = true)
 |-- math score: integer (nullable = true)
 |-- reading score: integer (nullable = true)
 |-- writing score: integer (nullable = true)

In [ ]:
students.columns

['gender',
 'race/ethnicity',
 'parental level of education',
 'lunch',
 'test preparation course',
 'math score',
 'reading score',
 'writing score']

In [ ]:
students.describe().show()

+-------+------+--------------+---------------------------+------------+-----------------------+------------------+------------------+-----------------+
|summary|gender|race/ethnicity|parental level of education|       lunch|test preparation course|        math score|     reading score|    writing score|
+-------+------+--------------+---------------------------+------------+-----------------------+------------------+------------------+-----------------+
|  count|  1000|          1000|                       1000|        1000|                   1000|              1000|              1000|             1000|
|   mean|  NULL|          NULL|                       NULL|        NULL|                   NULL|            66.089|            69.169|           68.054|
| stddev|  NULL|          NULL|                       NULL|        NULL|                   NULL|15.163080096009454|14.600191937252223|15.19565701086966|
|    min|female|       group A|         associate's degree|free/reduced|              completed|                 0|                17|               10|
|    max|  male|       group E|           some high school|    standard|                   none|               100|               100|              100|
+-------+------+--------------+---------------------------+------------+-----------------------+------------------+------------------+-----------------+

In [ ]:
students.select('math score', 'reading score').summary('count','min','max').show()

+-------+----------+-------------+
|summary|math score|reading score|
+-------+----------+-------------+
|  count|      1000|         1000|
|    min|         0|           17|
|    max|       100|          100|
+-------+----------+-------------+

In [ ]:
students.schema['math score'].dataType

IntegerType()

## How to specify data types

In [ ]:
data_schema = StructType([
    StructField('name', StringType(), True),
    StructField('email', IntegerType(), True),
    StructField('city',StringType(),True),
    StructField('mac',StringType(),True),
    StructField('timestamp',DateType(),True),
    StructField('creditcard',StringType(),True)
])

In [ ]:
# people = spark.read.json(path1+'people.json',schema=data_schema)
# people.show()

## Writing data

In [ ]:
students.write.mode('overwrite').csv('write_test.csv')

In [ ]:
students.coalesce(1).write.mode('overwrite').csv('write_test_single_file.csv')

In [ ]:
users1_2.coalesce(2).write.mode('overwrite').parquet('write_test_parquet.parquet')

In [ ]:
fruit_values = [('Water Melon',100),('Orange',25),('Mango',100),('Pineapple',20)]

In [ ]:
fruits = spark.createDataFrame(fruit_values, schema=['name','qty'])
fruits.show()

+-----------+---+
|       name|qty|
+-----------+---+
|Water Melon|100|
|     Orange| 25|
|      Mango|100|
|  Pineapple| 20|
+-----------+---+

In [ ]:
@f.pandas_udf(IntegerType())
def add_one(val):
  return val + 20

adding_udf  = fruits.withColumn('qty_add',add_one('qty'))
adding_udf.show()

+-----------+---+-------+
|       name|qty|qty_add|
+-----------+---+-------+
|Water Melon|100|    120|
|     Orange| 25|     45|
|      Mango|100|    120|
|  Pineapple| 20|     40|
+-----------+---+-------+

In [ ]:
hunter